html {
  font-family: "Microsoft YaHei";
  font-size: 625%;
}
@media screen and (max-width: 640px) {
  html {
    font-size: 500%;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 420%;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 350%;
  }
}
@media screen and (max-width: 390px) {
  html {
    font-size: 300%;
  }
}
@media screen and (max-width: 340px) {
  html {
    font-size: 250%;
  }
}
body {
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 720px;
}
.clear-fix:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clear-fix {
  *zoom: 1;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 680px;
}
/*header*/
header {
  height: .75rem;
  background-color: #29bde0;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .2rem;
}
.back {
  width: .3rem;
  height: .45rem;
  background: url(../images/Back-1.png) center no-repeat;
  background-size: contain;
}
.help {
  width: .5rem;
  height: .5rem;
  background: url(../images/help.png) center no-repeat;
  background-size: contain;
}
.parameter-set {
  display: block;
  line-height: .75rem;
  font-size: .34rem;
  color: white;
}
/*main*/
main {
  background-color: #f0f0f0;
  padding: .2rem;
}
.distribute {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  font-size: .34rem;
  background-color: white;
  writing-mode: vertical-lr;
  border-right: 1px solid #d9d9d9;
}
.player-top {
  height: 3.9rem;
  background-color: #fbfbfb;
  padding-top: .45rem;
  padding-left: .5rem;
  overflow: auto;
}
.player-all {
  float: left;
  width: 50%;
  padding-bottom: .33rem;
  font-size: .26rem;
  letter-spacing: .12rem;
  color: #a1a1a1;
}
.player-all .point-killer {
  width: .1rem;
  height: .1rem;
  display: inline-block;
  margin: 0 .25rem .05rem 0;
  background-color: #fab344;
}
.player-all .blue {
  background-color: #29bde0;
}
li {
  list-style: none;
}
.set {
  text-align: center;
  font-size: .28rem;
  line-height: .59rem;
  color: #29bde0;
  background-color: #fbfbfb;
  border-top: 1px solid #d9d9d9;
  cursor: pointer;
}
.set .pencil {
  display: inline-block;
  width: .15rem;
  height: .15rem;
  background: url(../images/pencil.png) center no-repeat;
  background-size: contain;
}
.word-group {
  margin-top: .1rem;
  padding: 0 .3rem .3rem .3rem;
  background-color: white;
}
.word-group .line {
  line-height: .78rem;
  font-size: .28rem;
  color: #dfdfdf;
  border-bottom: 2px solid #dfdfdf;
}
.player-num {
  width: .65rem;
  outline: none;
  border: none;
  background-color: #f4f5f5;
  text-align: center;
  color: #fab344;
}
/*滑块*/
.player {
  font-size: .28rem;
  padding-top: .2rem;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .55rem .15rem .15rem .15rem;
}
#slider {
  width: 80%;
  height: .03rem;
  background: orange;
  outline: none;
  -webkit-appearance: none;
  /*去掉线的默认样式*/
  -moz-appearance: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  width: .6rem;
  height: .35rem;
  background: url(../images/slider.png) center no-repeat;
  background-size: cover;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.btn {
  width: .28rem;
  height: .28rem;
  padding: 0;
  outline: none!important;
  border: 2px solid #d9d9d9;
}
#btn-sub {
  background: url(../images/btn-sub.png) center no-repeat;
}
#btn-add {
  background: url(../images/btn-add.png) center no-repeat;
}
.btn-deal {
  height: .88rem;
  width: 100%;
  margin-top: .2rem;
  background-color: #fab344;
  color: white;
  font-size: .4rem;
  border: none;
  outline: none;
}
/*翻牌*/
.close-right {
  width: .36rem;
  height: .36rem;
  background: url(../images/close.png) center no-repeat;
  background-size: contain;
}
.card {
  position: relative;
  width: 4.62rem;
  height: 6.62rem;
  margin: .65rem auto 0 auto;
  background-color: #ffedc5;
  border: 6px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card-back {
  width: 3rem;
  height: 3rem;
}
.card .no-3 {
  position: absolute;
  top: -0.36rem;
  width: .73rem;
  height: .73rem;
}
.background {
  background-color: #29bde0;
  border-top: 1px solid #74d4eb;
}
.check-out {
  display: block;
  margin: 1.23rem auto .4rem auto;
  width: 4.9rem;
  height: .84rem;
  background-color: #fbb435;
  font-size: .48rem;
  color: white;
  outline: none;
  border: none;
}
